#cl_optionsapp > .customily-option-title {
  display: flex;
  height: 3.2rem;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem dashed #d9d9d9;
  color: #0a2759;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}
